$lightOrange: #ffc961;
$blue: #5c5cff;
$darkBlue: #3c3cfd;

.app {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  .container {
    max-width: 1024px; //MIGHT WANT TO CHECK LATER!!!!!

    .link {
      text-decoration: none;
      color: inherit;
    }

    // LOGIN & REGISTER
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;

      h1 {
        font-size: 20px;
        color: $blue;
        margin-bottom: 20px;
      }
      form {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        border-radius: 10px;
        width: 300px;
        gap: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: $blue;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: 0.3s all ease-in-out;

          font-weight: 700;

          &:hover {
            background-color: $darkBlue;
          }
        }

        p {
          text-align: center;
          color: red;
        }
        span {
          text-align: center;
        }
      }
    }
    // NAVBAR
    .navbar {
      .container {
        font-size: 15px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid lightgray;
        .logo {
          img {
            width: 120px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 18px;

          h5 {
            font-size: 16px;
            font-weight: 500;
          }
          span {
            cursor: pointer;
          }
          .login {
            display: flex;
            flex-direction: row;
            margin: 20px 0;
            width: 100%;
            max-width: 200px;
            .link {
              display: flex;
              align-items: center;
              margin-right: 10px;
            }

            .link-login {
              display: flex;
              align-items: center;
              text-decoration: none;
              color: inherit;
            }
          }

          .write {
            background-color: $lightOrange;
            width: 120px;
            height: 22px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-weight: 500;
            margin-top: 5px;
            margin-left: 10px;
            border: 1px solid transparent;
            transition: 0.3s all ease-in-out;

            &:hover {
              color: $lightOrange;

              font-weight: 500;
              background-color: white;
              border: 1px solid lightgray;
            }
          }
        }
      }
    }

    // FOOTER
    footer {
      margin-top: 100px;
      padding: 10px;
      border-top: 2px solid lightgray;

      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      img {
        height: 80px;
      }
    }

    // HOME

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;

            // for background effect
            &::after {
              content: '';
              width: 100%;
              height: 100%;
              background-color: $blue;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
              border-radius: 10px;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
              border-radius: 10px;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 18px;
            }
            button {
              font-size: 15px;
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: transparent;
              border: 1px solid $lightOrange;
              color: $lightOrange;
              border-radius: 5px;
              transition: 0.3s all ease-in-out;

              &:hover {
                background-color: $lightOrange;
                color: white;
              }
            }
          }
        }
      }
    }

    // SINGLE PAGE

    .single {
      display: flex;
      gap: 50px;
      margin-top: 10px;

      .content {
        flex: 5;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 15px;
        img {
          width: 100%;
          max-height: 350px;
          object-fit: cover;
          border-radius: 10px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            line-height: 5px;
            margin-top: 15px;

            span {
              font-weight: bold;
            }
          }
        }
        .edit {
          margin-left: 10px;
          display: flex;
          gap: 10px;
        }
      }
      h1 {
        font-size: 38px;
        margin: 5px 0;
      }
      p {
        line-height: 30px;
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            max-height: 200px;
            object-fit: cover;
            border-radius: 10px;
          }

          h2 {
            margin: 3px 0;
            color: #555;
          }

          button {
            font-size: 15px;
            width: max-content;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $lightOrange;
            color: $lightOrange;
            border-radius: 5px;
            transition: 0.3s all ease-in-out;

            &:hover {
              background-color: $lightOrange;
              color: white;
            }
          }
        }
      }
    }

    // WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
          border-radius: 5px;
          font-size: 16px;
        }

        .editorContainer {
          height: 300px;
          max-width: 655px;

          border: 1px solid lightgray;
        }

        .editor {
          height: 100%;
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 14px;
          color: #555;
          border-radius: 5px;
          padding-bottom: 22px;

          .file {
            cursor: pointer;
            border: 1px solid $lightOrange;
            padding: 5px;
            border-radius: 5px;
            transition: 0.3s all ease-in-out;
            font-size: 14px;

            &:hover {
              background-color: $lightOrange;
              color: white;
            }
          }

          h1 {
            font-size: 20px;
            margin-top: 5px;
          }

          .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            :first-child {
              cursor: pointer;
              color: white;
              background-color: gray;
              border: none;
              padding: 10px 15px;
              border-radius: 5px;
              font-size: 15px;
              transition: 0.3s all ease-in-out;
              &:hover {
                background-color: rgb(78, 78, 78);
              }
            }
            :last-child {
              cursor: pointer;
              color: white;
              background-color: $blue;
              border: none;
              padding: 10px 15px;
              border-radius: 5px;
              font-size: 15px;
              transition: 0.3s all ease-in-out;
              &:hover {
                background-color: $darkBlue;
              }
            }
          }
          .cat {
            display: flex;
            align-items: center;
            gap: 2px;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }

    // RESPONSIVE LAYOUT
    @media (max-width: 768px) {
      /* Styles for smaller screens */

      // AUTH
      .auth {
        display: flex;
      }

      .navbar {
        .container {
          flex-direction: column;

          .logo {
            margin-bottom: 10px;
          }

          .links {
            display: grid;

            grid-template-columns: 1fr 1fr 1fr;
            gap: 0px;
            .link {
              border: 1px solid $lightOrange;
              border-radius: 5px;
              margin: 10px;
              text-align: center;
            }
            .login {
              display: flex;
              flex-direction: column;
              margin-top: 0px;

              .link-login {
                display: flex;
                margin: 5px auto;
                text-decoration: none;
                color: inherit;
              }
            }
          }
        }
      }

      // FOOTER
      footer {
        justify-content: center;
        gap: 50px;
        font-size: 14px;
        img {
          height: 75px;
        }
      }

      .home {
        .posts {
          gap: 50px;
          margin-right: 0;

          .post {
            display: block;
            gap: 100px;
            padding-bottom: 30px;
            border-bottom: 2px solid lightgray;

            .img {
              position: relative;

              // for background effect
              &::after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: $blue;
                position: absolute;
                top: 20px;

                z-index: -1;
                border-radius: 10px;
              }

              img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 500px;
                max-height: 300px;
                object-fit: cover;
                border-radius: 10px;
              }
            }

            .content {
              max-width: 500px;
              h1 {
                margin-top: 30px;
                font-size: 32px;
              }

              p {
                text-align: justify;
                font-size: 18px;
              }
              button {
                font-size: 15px;
                width: max-content;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                background-color: transparent;
                border: 1px solid $lightOrange;
                color: $lightOrange;
                border-radius: 5px;
                transition: 0.3s all ease-in-out;

                &:hover {
                  background-color: $lightOrange;
                  color: white;
                }
              }
            }
          }
        }
      }

      // // HOME
      // .home {
      //   .posts {
      //     gap: 50px;
      //   }

      //   .post {
      //     display: block;

      //     .img {
      //       &::after {
      //         top: -20px;
      //         left: 20px;
      //       }
      //     }

      //     .content {
      //       h1 {
      //         font-size: 36px;
      //       }

      //       p {
      //         font-size: 16px;
      //       }
      //     }
      //   }
      // }

      .single {
        flex-direction: column;

        .content {
          img {
            max-height: 300px;
          }
        }

        .menu {
          gap: 15px;
        }
      }

      .add {
        flex-direction: column;

        .content {
          .editorContainer {
            max-width: 100%;
          }
        }

        .menu {
          gap: 15px;

          .item {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
